# Lab 6.1 Data Transformation.

## 0. We need to upgrade pandas to the newest version

In [1]:
!pip3 install --upgrade pandas

Requirement already up-to-date: pandas in /Users/mohsenmosleh/anaconda3/envs/py37/lib/python3.7/site-packages (1.1.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /Users/mohsenmosleh/anaconda3/envs/py37/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /Users/mohsenmosleh/anaconda3/envs/py37/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /Users/mohsenmosleh/anaconda3/envs/py37/lib/python3.7/site-packages (from pandas) (1.18.4)
Requirement already satisfied, skipping upgrade: six>=1.5 in /Users/mohsenmosleh/anaconda3/envs/py37/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.14.0)
WARNING: You are using pip version 20.1; however, version 21.0.1 is available.
You should consider upgrading via the '/Users/mohsenmosleh/anaconda3/envs/py37/bin/python -m pip install --upgrade pip' command.

In [1]:
!pip install xlrd

Requirement already satisfied: xlrd in /Users/mohsenmosleh/anaconda3/envs/py37/lib/python3.7/site-packages (1.2.0)
WARNING: You are using pip version 20.1; however, version 21.0.1 is available.
You should consider upgrading via the '/Users/mohsenmosleh/anaconda3/envs/py37/bin/python -m pip install --upgrade pip' command.

# 1. Let's load some libraries

In [2]:
import pandas as pd

In [3]:
pd.__version__

'0.23.4'

In [52]:
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

# 2. Let's load and concatenate some datasets

In [6]:
# similar to reading data from csv file, we can read data from excel sheets, we need to specify which column we need to read data from
# this data is a sample from comercial software Tableau
order_df=pd.read_excel('Superstore.xls')
order_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,variable,value
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,Sales,261.9600
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Sales,731.9400
2,3,CA-2013-138688,2013-06-13,2013-06-17,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,Sales,14.6200
3,4,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,Sales,957.5775
4,5,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,Sales,22.3680

In [7]:
order_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39976 entries, 0 to 39975
Data columns (total 19 columns):
Row ID           39976 non-null int64
Order ID         39976 non-null object
Order Date       39976 non-null datetime64[ns]
Ship Date        39976 non-null datetime64[ns]
Ship Mode        39976 non-null object
Customer ID      39976 non-null object
Customer Name    39976 non-null object
Segment          39976 non-null object
Country          39976 non-null object
City             39976 non-null object
State            39976 non-null object
Postal Code      39976 non-null int64
Region           39976 non-null object
Product ID       39976 non-null object
Category         39976 non-null object
Sub-Category     39976 non-null object
Product Name     39976 non-null object
variable         39976 non-null object
value            39976 non-null float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(14)
memory usage: 6.1+ MB

In [8]:
order_df.shape

(39976, 19)

### Too many columns, lets select a few!

In [9]:
selected_columns=['Order ID', 'Order Date', 'Product ID','Ship Mode','Segment', 'Country', 'State', 'Region','Category',
'Sub-Category','variable','value']

order_df_selected=order_df[selected_columns]
# or similarly you can do
order_df_selected2=pd.DataFrame(order_df,columns=selected_columns)

In [10]:
order_df_selected.head()

,Order ID,Order Date,Product ID,Ship Mode,Segment,Country,State,Region,Category,Sub-Category,variable,value
0,CA-2013-152156,2013-11-09,FUR-BO-10001798,Second Class,Consumer,United States,Kentucky,South,Furniture,Bookcases,Sales,261.9600
1,CA-2013-152156,2013-11-09,FUR-CH-10000454,Second Class,Consumer,United States,Kentucky,South,Furniture,Chairs,Sales,731.9400
2,CA-2013-138688,2013-06-13,OFF-LA-10000240,Second Class,Corporate,United States,California,West,Office Supplies,Labels,Sales,14.6200
3,US-2012-108966,2012-10-11,FUR-TA-10000577,Standard Class,Consumer,United States,Florida,South,Furniture,Tables,Sales,957.5775
4,US-2012-108966,2012-10-11,OFF-ST-10000760,Standard Class,Consumer,United States,Florida,South,Office Supplies,Storage,Sales,22.3680

In [11]:
order_df_selected2.head()

,Order ID,Order Date,Product ID,Ship Mode,Segment,Country,State,Region,Category,Sub-Category,variable,value
0,CA-2013-152156,2013-11-09,FUR-BO-10001798,Second Class,Consumer,United States,Kentucky,South,Furniture,Bookcases,Sales,261.9600
1,CA-2013-152156,2013-11-09,FUR-CH-10000454,Second Class,Consumer,United States,Kentucky,South,Furniture,Chairs,Sales,731.9400
2,CA-2013-138688,2013-06-13,OFF-LA-10000240,Second Class,Corporate,United States,California,West,Office Supplies,Labels,Sales,14.6200
3,US-2012-108966,2012-10-11,FUR-TA-10000577,Standard Class,Consumer,United States,Florida,South,Furniture,Tables,Sales,957.5775
4,US-2012-108966,2012-10-11,OFF-ST-10000760,Standard Class,Consumer,United States,Florida,South,Office Supplies,Storage,Sales,22.3680

### Task 1. Your manager wants a report in form of a table where on rows you have different Regions, on columns you have different Segments, and you show the average sales for the combination of Regions and Segments

### Like the following table

<img src="https://www.dropbox.com/s/bnatmk1j00xi1yh/Screen%20Shot%202021-02-24%20at%2011.27.30%20AM.png?dl=1">

### Challenge yourself: Think about other approaches to create the same outcome:

### Task 2. Provide the minimum, maximum, and average for Discount, Profit, Quanitity, and sales for combinations of Regions and Segments

<img src="https://www.dropbox.com/s/mu9bsdya0e6yqhp/Screen%20Shot%202021-02-24%20at%208.21.17%20PM.png?dl=1">

### Task 3. Your managers needs a graph for variation of Sales and Profit over different months

<img src="https://www.dropbox.com/s/6viz7d65ijaoi3d/Screen%20Shot%202021-02-24%20at%209.02.01%20PM.png?dl=1">