# BEM 1025: Programming for Business Analytics
#   Final Exam practice

# Provide your first and last name and your student ID in the following cells

### First name and last name:

### Student ID:

# **You need to save this file as PDF that includes the outcome specified for each question. Rename the file with your student ID**

# For all questions YOU HAVE TO WRITE SOME CORRECT  PYTHON CODE! simply giving the final answer is not enough!

In [68]:
# we import the library pandas and give it the "pd" nickname
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [69]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Discount', 'Profit', 'Quantity', 'Sales',
       'date_formatted', 'effective_profit'],
      dtype='object', name='variable')

### You will work on the following dataframe for this assignment

In [70]:
# similar to reading data from csv file, we can read data from excel sheets, we need to specify which column we need to read data from
# this data is a sample from comercial software Tableau
df_=pd.read_excel('Superstore.xls')
df=pd.pivot_table(df_,index=['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode','Customer ID', 
                         'Customer Name', 'Segment', 'Country', 'City', 'State','Postal Code', 'Region',
                         'Product ID', 'Category', 'Sub-Category','Product Name'],columns=['variable'],values= 'value')
df.reset_index(inplace=True)
df.head()

variable,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Discount,Profit,Quantity,Sales
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,0.00,41.9136,2.0,261.9600
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",0.00,219.5820,3.0,731.9400
2,3,CA-2013-138688,2013-06-13,2013-06-17,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,0.00,6.8714,2.0,14.6200
3,4,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,0.45,-383.0310,5.0,957.5775
4,5,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,0.20,2.5164,2.0,22.3680

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
Row ID           9994 non-null int64
Order ID         9994 non-null object
Order Date       9994 non-null datetime64[ns]
Ship Date        9994 non-null datetime64[ns]
Ship Mode        9994 non-null object
Customer ID      9994 non-null object
Customer Name    9994 non-null object
Segment          9994 non-null object
Country          9994 non-null object
City             9994 non-null object
State            9994 non-null object
Postal Code      9994 non-null int64
Region           9994 non-null object
Product ID       9994 non-null object
Category         9994 non-null object
Sub-Category     9994 non-null object
Product Name     9994 non-null object
Discount         9994 non-null float64
Profit           9994 non-null float64
Quantity         9994 non-null float64
Sales            9994 non-null float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 1.6+ MB

## Assignment 1 
### Find orders with sales value of 300 or more, discount above .01 and containing word 'Chair' or 'Table' or 'Desk' in their product names.

### **OUTCOME:** Provide the **head** and **shape** of the outcome dataframe

## Assignment 2
### Find the 5 top cities with lowest average sales

### **OUTCOME:** Provide the list of the 5 cities (and their corresponding state and countries)
### Tip: you need to find the average price for all given cities (and their corresponding neighbourhood) and then sort them by sales

## Assignment 3
### Transform the dataframe into a long dataframe to include a column representing geography (Country, State, and City) column representing its value

### **OUTCOME:** Provide the **head** and **shape** of the outcome

## Assignment 4
### Plot the relationship between year the order was made and the average Proft for various product categories

### **OUTCOME:** Create a plot where x represents year the order was made, y represents average profit, and lines with different colors represent product category

### Tip: You need to group and average by year (use pd.Groupper and Groupby) and then plot using seaborn

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Grouper.html

## Assignment 5
### Plot the distribution of Discount for various Regions and product Caterogy

### **OUTCOME:** Create a facet plot where x represents 'Disocunt', y represents frequency, color represents 'Category', columns represent 'Region'
### Tip: you need to combine FacetGrid with plt.hist

## Assignment 6 
### Creat a new colum where you substract the shiping cost from profit. the shipping cost per unit is as follows:

'Second Class': 2
'Standard Class':5 
'First Class':10
'Same Day':30


### **OUTCOME:** Like the following table
## **Tip** you need to use the apply function and multipy the quantity by the shipping cost and substract that from profit